/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('http://127.0.0.1:8000/static/images/mainbg.png');
    background-repeat: repeat;
    background-size: 626px 450px;
}

header {
    text-align: center;
    background-color: #fff;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px auto;
}

h1 {
    color: #000;
    font-size: 2.5em;
}

.menu {
    margin: 20px 0;
}

.button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
}

section {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.tools {
    margin-bottom: 20px;
}

input[type="text"], button {
    padding: 10px;
    margin: 10px 0;
}

#graph-canvas {
    border: 1px solid #ccc;
    background-color: #fff;
}

#matrix-display {
    margin-top: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
